/* Debug */
/* [class*=col-] {
  border: 1px solid blue;
}
.container-fluid {
  border: 1px solid red;
}
.container {
  border: 1px solid black;
} */

/* COMMON */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  color: white;
  text-align: center;
}
main section:nth-child(odd) {
  color: black;
}
.ms_footer_section {
  width: 100%;
}
.wrapper {
  width: 50%;
  margin: 0 auto;
}
.ms_button {
  padding: 10px;
  background-color: #1ABC9C;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
}
i {
  font-size: 1.2em;
}

/* UTILITIES */
ul {
  list-style: none;
}
ul li {
  display: inline-block;
}
ul li a {
  color: white;
}
ul li a:hover {
  color: white;
  text-decoration: none;
}
h1, h2, h3, {
  font-weight: bolder;
}

/* HEADER */
/* Navigator */
header .ms_navigator {
  background-color: #2C3E50;
  width: 100%;
  height: 80px;
}
header .ms_navigator [class*="col-"] h4 {
  line-height: 80px;
  margin: 0;
  font-weight: bolder;
}
header .ms_navigator [class*="col"] ul li {
  padding: 0 1%;
}
header .ms_navigator i {
  font-size: 2em;
  line-height: 80px;
}
header .navigator ul {
  line-height: 80px;
}
/* Jumbotron */
header .ms_jumbotron {
  background-color: #1ABC9C;
  line-height: 5vh;
}
header .ms_jumbotron img {
  height: 300px;
}
header .ms_jumbotron i {
  margin-bottom: 2vh;
}

/* MAIN */
/* SECTION 1 */
main section:first-child .container:last-child .square {
  margin: 3vh 0;
}
main section:first-child .container:last-child .square img {
  height: auto;
  padding: 3%;
  max-width: 100%;
  border-radius: 30px;
}

/* SECTION 2 */
main section:nth-child(2) {
  background-color: #1ABC9C;
  margin: 2vh auto;
  padding: 25px 0;
}
main section:nth-child(2) p {
  margin: 3vh  ;
}
main section:nth-child(2) button {
  margin: 2vh 0;
}
/* SECTION 3 */
main section:nth-child(3) {
  margin-bottom: 3vh;
}
main section:nth-child(3) i {
  margin-bottom: 2vh;
}
main section:nth-child(3) .container-fluid .lifter {
  min-height: 100px;
  display: inline-block;
}

/* FOOTER */
/* SECTION 1 */
footer section:first-child {
  background-color: #3A546D;
  padding: 2vh 0;
}
footer .wrapper:first-child span {
  color: #1BB699;
}
footer .socials div {
  text-align: center;
  height: 40px;
  width: 40px;
  border: 1px solid white;
  line-height: 40px;
  border-radius: 50%;
  margin: 0 4px;
}
footer .socials i { /* Facilita il click sulle icone */
  padding: 5px;
}
/* SECTION 2 */
footer section:nth-child(2) {
  background-color: #2C3E50;
  padding: 1vh 0;
}


/* INIZIO MQ */
/* TABLET MQ (col-sm-n) */
@media (min-width:768px) and (max-width:992px) {

}

/* SMARTPHONE MQ (col-md-n) */
@media (min-width:992px)  {

}
