/* Debug */
[class*=col-] {
  border: 1px solid blue;
}
.container-fluid {
  border: 1px solid red;
}
.container {
  border: 1px solid black;
}

/* COMMON */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  color: white;
}
[class*=col-] {
  text-align: center;
}
main section:nth-child(odd) {
  color: black;
}
.display_none {
  display: none;
}

/* UTILITIES */
ul {
  list-style: none;
}
ul li {
  display: inline-block;
}
ul li a {
  color: white;
}
ul li a:hover {
  color: white;
  text-decoration: none;
}
h1, h2, h3, h4 {
  font-weight: bolder;
}

/* HEADER */
/* Navigator */
header .container-fluid {
  background-color: #2C3E50;
}
header .container-fluid [class*="col-"] {
  height: 80px;
  line-height: 80px;
}
header .container-fluid [class*="col-"] h4 {
  line-height: 80px;
  margin: 0;
  font-weight: bolder;
}
header .container-fluid [class*="col"] ul li {
  padding: 0 3%;
}
/* Jumbotron */
header .jumbotron.jumbotron-fluid {
  background-color: #1ABC9C;
}

/* MAIN */
/* SECTION 1 */
main section:first-child .container:last-child .square {
  height: 200px;
  width: 90%;
  margin: 2% auto;
  border: 1px solid black;
  border-radius: 10px;
}
.square#red {
  background-color: #BA4B63;
}
.square#lightblue {
  background-color: #1EA4B6;
}
.square#black {
  background-color: black;
}
.square#darkblue {
  background-color: #1C83C1;
}
.square#blue {
  background-color: #0E38B5;
}
.square#brown {
  background-color: #CCB2A3;
}

/* SECTION 2 */
main section .container-fluid {
  background-color: #1ABC9C;
}
/* SECTION 3 */


/* FOOTER */
footer .container-fluid {
  background-color: #3A546D;
}


/* INIZIO MQ */
/* TABLET MQ (col-sm-n) */
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {

}

/* SMARTPHONE MQ (col-xs-n) */
@media (max-width: @screen-xs-max) {

}
