/* Debug */
/* [class*=col-] {
  border: 1px solid blue;
}
.container-fluid {
  border: 1px solid red;
}
.row {
border: 1px solid green;
}
.container {
  border: 1px solid black;
} */

/* COMMON */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  color: white;
  text-align: center;
  font-size: 1em;
}
main section:nth-child(odd) {
  color: #2C3E50;
}
.ms_button {
  background-color: #1ABC9C;
  color: white;
  border: 2px solid white;
  padding: 5px 10px;
}
i {
  font-size: 2.2em;
}
.ms_star span {
  display: inline-block;
  width: 10vw;
  border-bottom: 3px solid;
  margin: 8px 6px;
  border-radius: 5px;
}
main section:nth-child(2) button,
main section:nth-child(3) button {
  padding: 20px 30px;
}

/* UTILITIES */
ul li a {
  color: white;
}
ul li a:hover {
  color: white;
  text-decoration: none;
}
.font_bolder {
  font-weight: bolder;
}
.font_sizeup {
  font-size: 3em;
  margin-bottom: 3vh;
}
.slight_bottom {
  margin-bottom: 4vh;
}
.display_none {
  display: none;
}



/* HEADER */
/* Navigator */
header .ms_navigator {
  background-color: #2C3E50;
  width: 100%;
  height: 80px;
  line-height: 80px;
  position: fixed;
  top: 0;
  z-index: 999;
}
header .ms_navigator [class*="col-"] h3 {
  line-height: 80px;
  margin: 0;
  font-size: 1.5em;
}
header .ms_navigator a:hover {
  color: #1ABC9C;
}
header .ms_navigator [class*="col"] ul li {
  padding: 0 3%;
  font-size: 1.1em;
}
header .ms_navigator button {
  font-size: 15px;
  border: none;
  border-radius: 8px;
}
header .ms_navigator button h5 {
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;
}
header .ms_navigator button i {
  vertical-align: middle;
  font-size: 1.2em;
}
/* Jumbotron */
header .ms_jumbotron {
  margin-top: 80px;
  background-color: #1ABC9C;
  line-height: 8vh;
}
header .ms_jumbotron .row {
  margin: 5vh 0;
}
header .ms_jumbotron h2 {
  font-size: 4em;
}
header .ms_jumbotron ul {
  font-size: 1.5em;
}
header .ms_jumbotron img {
  max-width: 250px;
}

/* MAIN */
/* SECTION 1 */
main section:first-child {
  padding: 4% 0;
}
main section:first-child .container:last-child .square {
  position: relative;
  margin: 3% auto;
  max-width: 75%;
  border-radius: 1em;
  overflow: hidden;
}
main section:first-child .container:last-child img {
  height: auto;
  width: 100%;
}
.square:hover .layover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(26, 188, 156, 0.6);
}
.square:hover .glyphicon-plus {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 6em;
  font-weight: lighter;
}

/* SECTION 2 */
main section:nth-child(2) {
  background-color: #1ABC9C;
  padding: 4% 0;
}
main section:nth-child(2) p {
  font-size: 1.5em;
  margin: 2vh 0;
}
main section:nth-child(2) button {
  margin: 2vh 0;
}
main section:nth-child(2) i:not(.fa-star) {
  font-size: 1.1em;
}

/* SECTION 3 */
main section:nth-child(3) {
  padding: 4%;
}
main section:nth-child(3) form .ms_input {
  border: none;
  box-shadow: none;
  border-bottom: 1px solid grey;
  border-radius: 0px;
  font-size: 1.5em;
}
main section:nth-child(3) form input {
  padding-bottom: 5px;
}
main section:nth-child(3) form button:hover {
  background-color: #1ABC9C;
  box-shadow: inset 0 0 5px 0 rgba(0,0,0,0.5);
}
main section:nth-child(3) form .lifter {
  padding-bottom: 100px;
}
main section:nth-child(3) .container-fluid .lifter {
  min-height: 100px;
  display: inline-block;
}

/* FOOTER */
/* SECTION 1 */
footer section:first-child {
  background-color: #2c3e50;
  padding: 4% 0;
}
footer section:first-child  span {
  color: #1BB699;
}
footer section:first-child .row > div {
  margin: 2vh 0;
}
footer section:first-child .socials div  {
  text-align: center;
  width: 50px;
  height: 50px;
  border: 2px solid white;
  border-radius: 50%;
  margin: 0 3px;
}
footer i { /* Facilita il click sulle icone */
  padding: 13px;
  font-size: 20px;
}
/* SECTION 2 */
footer section:nth-child(2) {
  background-color: #1a252f;
}


/* INIZIO MQ */
/* TABLET MQ (col-sm-n) */
@media (min-width:768px) and (max-width:992px) {

  /* COMMON */
  body {
    font-size: 1.3em;
  }
  .ms_container {
    width: 100%;
  }

  /* HEADER */
  /* Navigator */
  header .ms_navigator button h5 {
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
  }
  header .ms_navigator button i {
    vertical-align: middle;
  }
  /* Jumbotron */


  /* MAIN */
  /* Section 1 */
  main section:first-child .container:last-child .square {
    max-width: 100%;
  }
  main section:first-child .container:last-child img {
    width: 100%;
  }
  /* Section2 */
  /* Section 3 */


  /* FOOTER */
  /* Section 1 */
  /* Section 2 */

}

/* SMARTPHONE MQ (col-md-n) */
@media (min-width:992px)  {
  /* COMMON */
  body {
    font-size: 1.4em;
  }
  .wrapper {
    width: 50%;
    margin: 0 auto;
  }
  /* HEADER */
  /* Navigator */
  /* Jumbotron */
  header .ms_jumbotron h2 {
    font-size: 5em;
  }
  header .ms_jumbotron ul {
    font-size: 1.8em;
  }

  /* MAIN */
  /* Section 1 */
  main section:first-child .container:last-child .square {
    max-width: 100%;
  }
  main section:first-child .container:last-child img {
    width: 100%;
  }
  /* Section2 */
  /* Section 3 */

  /* FOOTER */
  /* Section 1 */
  footer section:first-child .row > div {
    margin: 0;
  }

    /* Section 2 */
}
